body{
    margin: 0;/*设置元素的4个外边距*/
    color: #333;;
    background: #eee;
    font-size:12px;
}
img{
    max-width:100%;
}
/*导航条*/
.main-nav .logo{
    width:200px;
}
.main-nav{
    position: relative;
}
