body{
    background: #eee;
    padding: 20px;
}
.left_logo{
    border-style:solid;
    border-width: thin;
    float: left;
    width:200px;
}
.left_logo p{
    float: right;
    /*margin-top: 50px;*/
    margin-right: 10px;
}
.left_logo img{
    /*transform: scale(0.5,0.5);*/
    width:120px;
    height:120px;
    margin-left: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}

.mid_article{
    margin-left: 220px;
    margin-right: 140px;
    min-width: 50px;
    padding: 20px;
    border: 1px solid #999;
    position: relative;

}
.right_logo{
    border-style: solid;
    border-width:thin;
    position: relative;
    width:120px;
}
.right_logo{
    float: right;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 120px;
    border: 1px solid #999;
}
.right_logo img{
    width:100px;
    height:100px;
    margin-left:10px;
}